body {
    background-image: url('cedup.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-borrado {
    width: 80%;
    background-color: rgba(15, 15, 15, 0.21);
    backdrop-filter: blur(10px);
    padding: 21px;
    margin-top: 21px;
    border-radius: 10px;
}

h1 {
    margin-top: 0;
    margin-bottom: 12px;
}

.texto-tarefa-marcada, .texto-tarefa, h1, label, #sem-tarefas, .rodape {
    display: flex;
    font-family: sans-serif;
    color: #f1f1f1;
    justify-content: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.42);
}

#input-tarefa{
    width: 70%;
    height: 23px;
    box-shadow: inset 5px 3px 5px rgba(255, 255, 255, 0.42), inset -1px -2px 3px rgba(0, 0, 0, 0.21);
}

#lista-de-tarefas{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.texto-tarefa-marcada{
    text-decoration: line-through;
}

li{
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 5px 3px 5px rgba(255, 255, 255, 0.21), inset -1px -2px 3px rgba(0, 0, 0, 0.42);
}

li:hover {
    background-color: rgba(255, 255, 255, 0.21);
    border-radius: 5px;
    transform: scale(1.012);
}

.bt {
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease;
    font-size: 1rem;
    display: flex;
    align-items: center;
    box-shadow: inset 5px 3px 5px rgba(255, 255, 255, 0.21), inset -1px -2px 3px rgba(0, 0, 0, 0.42);
}

.bt:active {
    transform: scale(0.90);
}

#bt-enviar {
    background-color: #28a745; 
}

#bt-enviar:hover {
    background-color: #218838;
    box-shadow: 0 0 8px rgba(40, 167, 69, 0.4);
}

#bt-limpar {
    background-color: #fd7e14; 
}

#bt-limpar:hover {
    background-color: #e36a07;
    box-shadow: 0 0 8px rgba(253, 126, 20, 0.4);
}

.tarefa .bt {
    background-color: #dc3545; 
}

.tarefa .bt:hover {
    background-color: #c82333;
}

input[type="checkbox"] {
    cursor: pointer;
    width: 21px;
    height: 21px;
    box-shadow: inset 5px 3px 5px rgba(0, 0, 0, 0.21), inset -1px -2px 3px rgba(255, 255, 255, 0.42);
}

input[type="checkbox"]:checked{
    cursor: pointer;
    width: 21px;
    height: 21px;
    box-shadow: inset 5px 3px 5px rgba(255, 255, 255, 0.42), inset -1px -2px 3px rgba(0, 0, 0, 0.21);
}

.tarefa-marcada {
    background-color: rgba(0, 0, 0, 0.21);
}

.texto-tarefa-marcada {
    color: black;
    text-shadow: none;
}

.rodape {
    margin-top: 21px;
    font-size: 0.9rem;
    text-align: center;
    width: 80%;
    background-color: rgba(15, 15, 15, 0.21);
    backdrop-filter: blur(10px);
    padding: 21px;
    border-radius: 10px;
}